@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    --color-primary: rgba(0, 0, 0);
    --color-secondary: rgb(34, 34, 34);
    --color-tertiary: white;
}

html, body {
height: 100vh;
width: 100vw;
font-size: 1.6rem;
overflow: hidden;
}

.button {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: none;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.button--primary {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

.button--secondary {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
}

.button--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

